<div id="main" class="white_border">
  <h1 class="first">Issues</h1>
  <%= partial 'issues/cloud' %>
</div>  

<div id="secondary">
  <% unless @authenticated %>
    <div id="member" class="login white_border">
      <%= partial login_partial %>
    </div>
  <% end -%>
  <div id="news" class="white_border">
    <h2>News ...</h2>
  </div>
</div>    
  