<div id="main" class="white_border">
  <h1 class="first">Issues</h1>
</div>  

<div id="secondary">
  <div id="member" class="white_border">
    <h2>Member/Login Block</h2>
  </div>
  <div id="news" class="white_border">
    <h2>News ...</h2>
  </div>
</div>  
  
  