<div id="main">
  <h1>Data Sources</h1>  

  <p>Bill Track is an <a href="/open-source">open source</a> project that garners its information from a variety of other websites. Currently the site depends on the following sites:</p>

  <h2><a href="http://govtrack.us">GovTrack.us</a></h2>
  <p>
    GovTrack.us is a site powered by a series of xml file that have been meticulously engineered by Josh Tauberer. Although information is provided via an API, GovTrack.us also makes it's files available directly. These XML files are used on the site to build a relational database that connects politicians to their works. 
  </p>
  
  <h2><a href="http://sunlightlabs.com">Sunlight Labs</a></h2>
  <p>
    Sunlight Labs, in addition to being the inspiration for creating this application, provides a information via an excellent API. They provide this website with the foundational information on politicians and districts.
  </p> 
  
  
  <h2><a href="http://congress.mcommons.com/">Mobile Commons</a></h2> 
  <p>
    Mobile Commons is a website and company with the goal of "<quote>
      Our goal is to provide our customers with a seamless offering of products that spans the web, the real world, and the different mobile mediums—allowing them to go mobile, use open standards, and reach more people. 
    </quote>" On this site, they provide javascript outlines for congressional districts.
  </p>
  
  <h2>Other Mash-it Partners</h2>
  <p>
    Bill Track currently uses google's mapping API extensively. I am hoping the site will expand to get twitter tweets, youtube videos and many other social web 2.0 things. As needs arise, which surely it will if the site prospers, more connections will be made with applications and APIs focused on shining the light of truth on government.
  </p>   
  
</div>       