<div id="main">
  <h1>About Bill Track</h1> 
    
  <p>
    The Bill Track project was inspired in part by <a href="http://sunlightlabs.com">Sunshine Labs'</a>, <a href="">Apps for America</a> contest, whose aim is to increase the number and quality of web applications that are feeding political comprehension and transparency. 
  </p>

  <p>
    The idea for this application started, however, several years ago on Rosh HaShanah when a good friend of mine, Legislative Director Ron Zucker of <a href="http://www.2020vision.org/">2020 Vision</a>, inadvertently convinced me that understanding congress wasn't as hard as the press made it seem. He made me want to create an application that could make the obscure workings of our politicians relevant. 
  </p> 
  
  <p>
    Since then a lot of organizations have put together great tools for tracking congressional information. There are a couple of things that this application hopes to do that are still unique and needed:
    <ul>
      <li>Provide a very easy user interface for negotiating the massive amounts of data about congress.</li>
      <li>Allow users to tag/label congressional bills with the real world issues that are important to them.</li> 
      <li>Notify users when one of there issues comes to center stage on the congressional floor.</li>
    </ul>
  </p> 
  
  <p>The time needed to invest in Bill Track was provided by an unfortunate and unexpected period of unemployment, that has since come to an end. This is good for my ability to keep going, but not as good for the growth of Bill Track.</p>  

  <p>
    A lot of work still remains to fully flesh-out these goals. For a road map of the possible next steps for the application, please check out the <a href="/volunteer/tech-roadmap">technology roadmap</a> page. If you are a coder interested in jumping in and fleshing out these ideas or adding some of your own, more information about the application setup can be found at the page detailing <a href="/open-source">the application's open-sourceness</a>. Data is mined from a number of sources where it was hard-fought by other developers. These sources include 
    <a href="http://govtrack.us">Govtrack.us</a>,
    <a href="http://sunlightlabs.com">Sunlight Labs</a> and
    <a href="http://congress.mcommons.com/">Mobile Commons</a>. 
    For details about how these and other sources work together, please check out <a href="/data-sources">the data sources page</a>.
  </p>  

  <p>The site if it succeeds in its real goals will be fueled by the contributions of interested public citizens. Volunteerism is welcomed not just on the coding front, but also with site content managment. To find out what you can do, please visit the <a href="/volunteer">volunteers page</a>.</p> 

  <p>To contact me for any reason, you can send me an email to kane at this domain.</p>
</div>
