<div class="tag_cloud">
  <% for issue in @issues -%>
    <% last = @issues.last %>
    <%= link_to issue.name, resource(issue), :class => 'tag', :style => tag_styling(issue, 0.85, 1.2) %><% 
      unless issue == last %>, <% end %>
  <% end -%>
</div>
