/* LAYOUT ------------------------- */
* { margin: 0px; padding: 0px;  }
html { height: 100%; }
ul { padding: 0px 10px 10px 20px;}
ul.menu {min-height: 10px; padding: 5px 0px 7px 0px;}
ul.menu li { display:inline; padding: 0px 20px;}
#all  { margin-left: auto; margin-right: auto; width: 924px; }
#content { padding: 10px 20px 20px 20px; width: 884px; min-height: 400px;  }
#fat_footer { padding: 15px 20px; min-height: 120px; }
#fat_footer .quote_block { width: 450px; margin-left: 15px; padding-right: 30px; float:left;}
#fat_footer .quote_block h6 {padding-top: 10px; padding-left: 15px;}
#fat_footer ul.menu {float:left; padding: 0px 15px; height: 120px;}
#fat_footer ul.menu li {display: block; padding-top: 7px; margin-left: 0px; padding-left: 6px;}
#bottom_menu { margin: 0px; padding: 0px; }
img.spacer { margin: 3px 30px -3px 30px;}
#main { float:left; margin-right: 20px; width: 60%; }
#secondary { float:left; width: 29.5%; }
div.white_border {padding: 15px; width: 100%; margin-bottom: 15px; }
h1 .pagination { display: inline; margin-left: 25px;}
.js_free {float:left; position:relative; top: -270px; padding-left: 25px;}

.politicians #main {width: 55%;}
.politicians #secondary { width: 366px;}
.politicians .district_map { width: 366px; height: 400px; min-width: 366px; min-height: 400px;}
.politicians.index ul {list-style-type: none; padding: 0px;}
.politicians.index li { margin: 10px 0px 14px 0px;}
.politicians.index h4 {margin-bottom: 7px;}
.politicians.index h1 {margin-bottom: 7px;}
.politicians.show #information h2 {padding-top: 7px;}
.politicians.show #information h3 {padding-bottom: 0px; padding-top: 13px;}
.politicians.show #information h3.first {padding-top: 5px;}
.politicians.show #information p {padding-left: 240px; line-height: 1.5;}
.politicians.show #bills { margin-top: 5px; margin-bottom: 15px;}
.politicians.show #bills .bill { margin-left: 15px; margin-bottom: 5px;}
.politicians.show #bills h3 { padding-bottom: 0px; padding-top: 13px;}
.politicians.show #bills h4 { display: inline; margin-right: 5px;}
.politicians.show #bills p { display: inline; line-height: 1.5;}
.politicians.show #bills p.cosponsored { display:block; padding-left: 15px;}


/* utility stuff */
.clearfix { zoom: 1; } 
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {display: none;}
.first { padding-top: 0px; margin-top: 0px;}
.left { float:left; margin-right: 20px;}


/* TEXT -------------------------- */
* { text-decoration: none; }
body { font-family: 'Trebuchet MS', Truebuchet, Veranda, sans-serif; font-size: 14px; text-align: left; }
h1, h2, h4 { font-family: Georgia, serif;  }
h1 { font-size: 32px; line-height: 1.4; font-weight: normal; letter-spacing: 0.05em;}
h2 { font-size: 18px; margin-bottom: 6px; }
h3 { font-size: 15px; line-height: 1.4; padding-bottom: 5px; }
h4 { font-size: 16px; }
h5 { font-size: 11.5px; line-height: 2.5; letter-spacing: 0.05em; }
h6 { font-size: 11.5px; letter-spacing: 0.1em; }
p  { line-height: 2; }
blockquote {font-family: Georgia, serif; font-size: 18px; line-height: 1.8; padding-right: 10px; text-indent: -10px; }
.pagination { font-size: 16px; }

#header h1 { margin: 0px; padding: 0px; line-height: .25;}
#bottom_menu { font-size: 11px; letter-spacing: 1px; }
#fat_footer .quote_block h6 { font-style: italic;}

.js_free { font-size: 20px; line-height: 1.7; color: white;}

.politicians.show #bills h3 { font-size: 16px; font-family: Georgia, serif;}
.politicians.show #bills h4 { font-family: 'Trebuchet MS', Truebuchet, Veranda, sans-serif; font-size: 14px;}


/* COLOR ------------------------- */
body { background: #284c6f url("../images/background_body.png") repeat-y top center;}
a {color: black;}
a:visited {color: #333;}
a:hover, a:active {color: #900; border-bottom: 1px solid silver; }
h1 { color: #222;}
h2, h3 { color: #222; }
#all { background-color: white; border-left: 2px solid #0f2339; border-right: 2px solid #0f2339;}
#top_menu ul.menu li, #bottom_menu ul.menu li{ border-left: 1px solid #CCC;}
#top_menu ul.menu li.first, #bottom_menu ul.menu li.first { border-left: 0px;}
#content { background: #cecece url("../images/content_back.png") no-repeat top left; border-top: 2px solid #AAA; }
#content ul, #content p { color: #222; }
#top_menu {  background: white url("../images/menu_back.png") repeat-x top;  border-top: 1px solid #666; border-bottom: 1px solid #888; }
#header h1 { border-bottom: 2px solid #323232; }
#footer{ background-color: #790909; }
#footer, #footer * {color: silver;}
#footer a:visited {}
#bottom_menu {  background: white url("../images/menu_back.png") repeat-x top; border-top: 2px solid #777; border-bottom: 2px solid #300; }
#bottom_menu * { color: #3f3f3f;}
#bottom_menu a:visited { color: #555;}
#bottom_menu a:hover, #bottom_menu a:active { color: #900; border-bottom: 1px solid silver; }
#fat_footer { border-top: 3px solid #500606; }
#fat_footer ul.menu { border-left: 2px solid #500606; }
.white_border { border: 2px solid white;}
.district_map { border: 4px solid white; }
.headshot { border: 4px solid white;}

#content a { border-bottom: 1px solid #999; }
#content a:hover, #content a:active { border-bottom: 1px solid #666; }

.politicians .district_map { background-color: #9daecd;}

