  <div class="description">
    <h4>
      <%= link_to @bill.id_number, url(:bill, @bill) %>
      <%= icon_parade %>
    </h4>
    <p><%= @bill.title_short %></p>
  </div>
  <% @issues = @bill.issues %>
  <%= partial 'issues/cloud' %>
