<div id="main">
  <h1>Volunteer/Contribute</h1>

  <h2>Build &amp; Manage Content</h2>  
  <p>
     Although a lot of the content for this application comes from Congressional sources, the thing that makes Bill Track important is its ability to make that content relevant with issues. Members can contribute by viewing individual bill pages and adding relevant issues. Further help can be given by becoming an content administrator. Issues will ultimately be nested for better organization. I would like to ultimately see synonyms too, which will make it easier for user's to find an issue using their own terminology. These features are beyond collaborative filtering and will require some dedicated volunteers, bringing order to user generated chaos. Please email me if you want to be added as an issue administrator: kane @ this domain name.
  </p>

  <h2>Tech It Up!</h2>  
  <p>
     Bill Track is built in the Ruby framework, Merb. For more information on why this strange choice was made, please check out the info page on <a href="/about/open-source">open source</a>. If you can work Rails, you should have no problem working with Merb. They are after all merging. 
  </p>
  <p> 
    There are a lot of great features that I would like to see added to the site. Visit the <a href="/volunteer/tech-roadmap">Tech Roadmap</a>, to sse what will hopefully come to pass. If you have your own ideas, all the better. Either way motivated souls should send me an email: kane @ this domain name. Source code for both applications is at <a href="http://github.com/rughetto/">github.com/rughetto</a>. Please keep in mind that coding ethics include ample testing, and rest. 
  </p>   
</div>