<h1>Tech Roadmap</h1>   

<p>Below is a list of features and ad hoc notes about where I want the site to go from here:</p>
<ul> 
  <li>
    <strong>Member Issue Registration:</strong> Members will be able to register an interest in issues. The home page and/or their dashboard '/users/:id' will show content that is relevant to those issues first.
  </li>
  <li>
    <strong>Issue Notifications:</strong> When a member registers interest in an issue, they will be given the ability to request notification when their issue(s) comes to the voting floor. This will involve:
    <ul>
      <li>
        Scraping governmental sites for congressional events. There are notes is the source code's research directory about where that information is currently posted.
      </li>
      <li>
        Building email notifications and possibly text messaging notification. 
      </li> 
      <li>
        RSS/atom feeds would also prove useful for members preferring pull technology.
      </li>
    </ul>
  </li>
  <li>
    <strong>Integrated Letters the Politicians:</strong> Members will be able to contact their representatives without leaving the site.   
      <ul>
        <li>This will be done via email when that information is available.</li>
        <li>Otherwise, webforms will be populated with site data and automatically submitted.</li> 
      </ul>
  </li> 
  <li>
    <strong>Socializing the Network:</strong> Both politician and member information will get more social. This will happen with Twitter and YouTube feeds for politicians. For members the ability to connect around issues, districts or parties will be added.
  </li> 
  <li>
    <strong>More Better APIs:</strong> Merb excels at APIs, and the data import app is ripe for fantastic API building. In addition, the full relational database about congress can be expanded and made available as a SQL dump.  
  </li> 
  <li><strong>Issue Managment System:</strong> The issues require approval from an administrator, but alas such an approval system does not yet exist. In addition, things like issue nesting and synonyms need to be created. Issues are the backbone of the site, and really need to be right.</li>
  <li><strong>What else?</strong> The internet is the limit. Send in your ideas and efforts.</li>
</ul>