<img src="http://billtrack.org/bill_track.png"><br/>
<h1>Your membership has been activated!</h1>
<p>
  <strong>Thanks for signing up at BillTrack.org.</strong> 
</p>
<%# More info later about what you can do on the site %>