<img src="http://billtrack.org/bill_track.png"><br/>
<h1>Your membership at BillTrack.org has been created!</h1>
<p>
  In order to start getting notified about issues current in Congress, please verify your email. To do this, follow the link below or paste the code in the form.
</p>

<p>
  <%= activation_url(@user) %>
</p>

<p>Thanks,<br/>
Kane, creator of BillTrack.org</p>  