<div id="main">
  <h1>Contact</h1>
  <p>You can reach me, Kane Baccigalupi, via email at kane@ this domain name.</p> 
  <p>It would be really great to create of social networking such that other members could connect to one another. May it be, one day soon.</p>
</div>